@charset "utf-8";

html {
  font-size: 100%;
}
body {
  color: #3d3d3d;
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
}
a {
  color: #3d3d3d;
  transition: all 0.3s;
}
a:hover {
  opacity: 0.5;
}
ul {
  list-style: none;
}
.wrapper {
  max-width: 960px; 
  margin: 0 auto;
  padding: 0 4%;
  text-align: center;
}
.sec-title {
  font-size: 32px;
  display: inline-block;
  position: relative;
  margin-top: 100px;
}
.sec-title:before {
  content: '';
  background: #3d3d3d;
  position: absolute;
  bottom: -24px;
  display: inline-block;
  width: 40px;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
}

/* ------------------------------------------
Header
------------------------------------------ */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}
.title-logo {
  width: 160px;
  line-height: 0;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li a {
  text-decoration: none;
  display: block;
  margin-left: 30px;
}
nav ul li a:hover {
  transform: translateY(1px);
}

/* ------------------------------------------
Mainvisual
------------------------------------------ */
.mainvisual img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* ------------------------------------------
About
------------------------------------------ */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 64px;
}
#about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.about-text {
  text-align: left;
}
.bold {
  font-size: 1rem;
  font-weight: bold;
}
.about-text p {
  margin-top: 14px;
}
.about-text p:first-of-type {
  margin-top: 0;
}

/* ------------------------------------------
Photo
------------------------------------------ */
.photo {
  display: flex;
  gap: 10px;
  margin-top: 64px;
}
.photo p {
  margin-top: 8px;
}

/* ------------------------------------------
Location
------------------------------------------ */
.location {
  margin-top: 64px;
}
.location iframe {
  width: 100%;
  height: 400px;
}

/* ------------------------------------------
Footer
------------------------------------------ */
#footer {
  margin: 100px auto 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link {
  display: flex;
  justify-content: center;
}
.footer-link li a {
  display: block;
  margin-right: 20px;
  font-size: 1.25rem;
  color: #aaa;
}
.copyright {
  color: #aaa;
  font-size: 0.65rem;
}

/* ------------------------------------------
SP
------------------------------------------ */
@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 100%; 
    padding: 0 4%;
  }
  .sec-title {
    margin-top: 80px;
  }
  .mainvisual img {
    height: 100vh;
  }
  nav ul li a {
    font-size: 0.85rem;
    margin-left: 15px;
  }
  .about {
    flex-direction: column;
    gap: 16px;
  }
  .photo {
    flex-direction: column;
  }
}